:host {
    width: 100%;
    div {
        transition: all 50ms ease-in-out;
        position: relative;
        cursor: pointer;
        img {
            border-radius: 0.5rem;
            width: 100%;
            height: auto;
        }
        p {
            position: absolute;
            bottom: 0;
            margin: 1rem;
            max-width: calc(100% - 2rem);
            text-overflow: ellipsis;
            overflow: hidden;
            padding: 1rem;
            background: rgba($color: #000000, $alpha: 0.8);
            border-radius: 0.5rem;
        }
    }

    div:hover {
        transform: scale(1.1);
    }
}
