div {
    transition: all 50ms ease-in-out;
    position: relative;
    border-radius: 0.5rem;
    cursor: pointer;
    img {
        border-radius: 0.5rem;
    }
    p {
        position: absolute;
        bottom: 0;
    }
}

div:hover {
    transform: scale(1.1);
}
