<nb-layout>
    <nb-layout-header>
        <!-- Insert header here -->
        <h2>Voink</h2>
        <h1>Twitch VOD Yoinker</h1>
        <p>Download Twitch VODs without size restrictions right in your browser</p>
    </nb-layout-header>

    <nb-layout-column>
        <nb-reveal-card [showToggleButton]="false" [revealed]="isCardRevealed" [nbSpinner]="loading">
            <nb-card-front>
                <nb-card accent="primary">
                    <nb-card-header>Choose VOD</nb-card-header>
                    <nb-card-body>
                        <app-fetch-vod></app-fetch-vod>
                    </nb-card-body>
                </nb-card>
            </nb-card-front>
            <nb-card-back>
                <nb-card accent="success">
                    <nb-card-header>
                        <button (click)="toggleCard()" nbButton ghost status="danger">
                            <nb-icon icon="arrow-back-outline"></nb-icon>
                        </button>
                        Download VOD
                    </nb-card-header>
                    <nb-card-body>
                        <app-download-vod></app-download-vod>
                    </nb-card-body>
                </nb-card>
            </nb-card-back>
        </nb-reveal-card>
    </nb-layout-column>

    <nb-layout-footer fixed>
        <!-- Insert footer here -->
    </nb-layout-footer>
</nb-layout>
