<nb-layout>
    <nb-layout-header>
        <div class="title">
            <h1>Voink</h1>
            <p class="text-hint">Free, No Install Required</p>
        </div>
    </nb-layout-header>

    <nb-layout-column>
        <nb-card [nbSpinner]="ui.isStepperLoading">
            <nb-card-header>
                <h5>A Twitch VOD Yoinker 📺</h5>
                <button status="danger" ghost nbButton (click)="stepper.reset()">
                    <nb-icon icon="refresh-outline"></nb-icon>
                </button>
            </nb-card-header>
            <nb-card-body>
                <nb-stepper #stepper orientation="horizontal" [disableStepNavigation]="true">
                    <nb-step label="Choose VOD">
                        <app-fetch-vod [stepper]="stepper" *ngIf="stepper.selectedIndex === 0"></app-fetch-vod>
                    </nb-step>
                    <nb-step label="Details">
                        <app-download-vod [stepper]="stepper" *ngIf="stepper.selectedIndex === 1"></app-download-vod>
                    </nb-step>
                    <nb-step label="Download">
                        <app-download-progress
                            [stepper]="stepper"
                            *ngIf="stepper.selectedIndex === 2"
                        ></app-download-progress>
                    </nb-step>
                </nb-stepper>
            </nb-card-body>
        </nb-card>
    </nb-layout-column>

    <nb-layout-footer fixed>
        <p>This site is in no way affiliated with Twitch</p>
        <span>
            Made with ☕ and ❤️ by <a href="https://twitter.com/patrickgoeler" target="_blank">Patrick Goeler</a>
        </span>
    </nb-layout-footer>
</nb-layout>
